In [ ]:
#Install libraries if not available
#pip install requests
#pip install sqlalchemy

In [2]:
#Libraries
import pandas as pd
import requests
import re
from datetime import datetime
from sqlalchemy import create_engine, text
import urllib

#Data Extraction - Extract
#Azure Credentials
azure_server = 'serverName'
azure_database = 'databaseName'
azure_db_username = 'databaseUserName'
azure_db_password = 'databasePassword'

#Set-up connection with Azure Database
driver = '{ODBC Driver 17 for SQL Server}'
odbc_str = f'DRIVER={driver};SERVER={azure_server};PORT=1433;UID={azure_db_username};DATABASE={azure_database};PWD={azure_db_password};Connection Timeout=30'
connect_str = 'mssql+pyodbc:///?odbc_connect=' + urllib.parse.quote_plus(odbc_str)
engine = create_engine(connect_str, echo=True)

#Acuity Scheduling Credentials
acuity_user_id = 'apiUserID'
acuity_api_key = 'apiKey'

#Retrieve Customers' Data from Acuity Scheduling
def retrieve_acuity_data(): 
    acuity_appointments_url = f'https://acuityscheduling.com/api/v1/appointments?user={acuity_user_id}'
    response_appointments = requests.get(acuity_appointments_url, auth=(acuity_user_id, acuity_api_key))
    
    if response_appointments.status_code == 200: 
        raw_appointments_data = response_appointments.json() 
        acuityAppts_df = pd.DataFrame(raw_appointments_data)
        return acuityAppts_df
    else: 
        print("Failed to retrieve data:", response_appointments.status_code, response_appointments.text)
        return None

#Employees File Path
file_path = r'pathName'
sheet_name = 'employees'

#Retrieve Employees Data from Excel in Local Computer
def retrieve_employees_data(file_path, sheet_name): 
    employees_df = pd.read_excel(file_path, sheet_name)
    employees_df.drop_duplicates(inplace=True)
    
    employees_df['startDate'] = pd.to_datetime(employees_df['startDate'], errors='coerce').dt.strftime('%Y-%m-%d')
    employees_df['endDate'] = pd.to_datetime(employees_df['endDate'], errors='coerce').dt.strftime('%Y-%m-%d')
    
    print("Employees data loaded from Excel:\n", employees_df.head())
    return employees_df 

#Data Cleaning - Transform 
def data_cleaning(acuityAppts_df):
    def extract_formsText_details(text): 
        address_match = re.search(r"Address:\s*(.*)", text)
        name_match = re.search(r"Pet's Name\s*:\s*(.*)", text)
        breed_match = re.search(r"Pet's Breed\s*:\s*(.*)", text)
        age_match = re.search(r"Pet's Age\s*:\s*(.*)", text)
        remarks_match = re.search(r"Remarks:\s*(.*)", text)

        return {
            'address': address_match.group(1) if address_match else None,
            'petName': name_match.group(1) if name_match else None,
            'petBreed': breed_match.group(1) if breed_match else None,
            'petAge': age_match.group(1) if age_match else None,
            'remarks': remarks_match.group(1) if remarks_match else None
        }
    
    acuityAppts_df['formsText'] = acuityAppts_df['formsText'].fillna('')
    extracted_formsText_list = acuityAppts_df['formsText'].apply(extract_formsText_details).tolist()
    extracted_details_df = pd.DataFrame(extracted_formsText_list)
    acuityAppts_df = pd.concat([acuityAppts_df, extracted_details_df], axis=1)
    
    type_column_split = acuityAppts_df["type"].str.split(" - ", expand=True)
    acuityAppts_df["serviceType"] = type_column_split[0]
    acuityAppts_df["groomType"] = type_column_split[1]
    
    acuityAppts_df["groomType"] = acuityAppts_df["groomType"].apply(lambda value: re.sub(r'\s*\(.*?\)', '', value) if value else value)
    acuityAppts_df["groomType"] = acuityAppts_df["groomType"].apply(lambda value: re.sub(r'\s*\+.*', '', value) if value else value)
    acuityAppts_df["groomType"] = acuityAppts_df["groomType"].apply(lambda value: value.strip().title() if value else value)
    
    drop_columns = [
        'id','datetimeCreated','datetime',
        'priceSold','amountPaid','appointmentTypeID','addonIDs',
        'classID','calendar','calendarID','certificate','confirmationPage',
        'confirmationPagePaymentLink','location','notes','timezone',
        'calendarTimezone','canClientCancel','canClientReschedule',
        'labels','forms','type','formsText'
    ]
    acuityAppts_df.drop(columns=[col for col in drop_columns if col in acuityAppts_df.columns], inplace=True)

    rename_columns = {
        'date':'apptDate',
        'dateCreated':'salesDate',
        'time':'startTime',
        'price':'salesAmount',
        'paid':'amountPaid',
        'type':'groomType',
        'category':'petType',
        'canceled':'canceledAppt'
    }
    acuityAppts_df.rename(columns=rename_columns, inplace=True)
    
    if 'startTime' in acuityAppts_df.columns:
        acuityAppts_df['startTime'] = acuityAppts_df['startTime'].apply(
            lambda time_str: datetime.strptime(time_str, '%I:%M%p').strftime('%H:%M:%S') if time_str else None
        )
    if 'endTime' in acuityAppts_df.columns:
        acuityAppts_df['endTime'] = acuityAppts_df['endTime'].apply(
            lambda time_str: datetime.strptime(time_str, '%I:%M%p').strftime('%H:%M:%S') if time_str else None
        )

    if 'salesDate' in acuityAppts_df.columns:
        acuityAppts_df['salesDate'] = pd.to_datetime(acuityAppts_df['salesDate'], errors='coerce').dt.strftime('%Y-%m-%d')
    if 'apptDate' in acuityAppts_df.columns:
        acuityAppts_df['apptDate'] = pd.to_datetime(acuityAppts_df['apptDate'], errors='coerce').dt.strftime('%Y-%m-%d')
    
    if 'canceledAppt' in acuityAppts_df.columns:
        acuityAppts_df['canceledAppt'] = acuityAppts_df['canceledAppt'].apply(lambda x: 1 if x else 0)
    if 'amountPaid' in acuityAppts_df.columns:
        acuityAppts_df['amountPaid'] = acuityAppts_df['amountPaid'].apply(lambda x: 1 if x else 0)
    
    for col in acuityAppts_df.select_dtypes(include=['object']).columns:
        acuityAppts_df[col] = acuityAppts_df[col].str.lower().str.strip()
    
    acuityAppts_df['appointment_id'] = acuityAppts_df.index + 1

    acuityAppts_df.drop_duplicates(inplace=True)
    
    print("Unique values in 'canceledAppt' column after conversion:", acuityAppts_df['canceledAppt'].unique())
    print("Data types of the DataFrame columns:\n", acuityAppts_df.dtypes)

    return acuityAppts_df

#Split Dataframe into respective tables 
def split_dataframes(acuityAppts_df, employees_df): 
    address_df = acuityAppts_df[['address']].drop_duplicates()
    services_df = acuityAppts_df[['serviceType', 'groomType']].drop_duplicates()
    customers_df = acuityAppts_df[['firstName', 'lastName', 'email', 'phone', 'address']].drop_duplicates()
    pets_df = acuityAppts_df[['petName', 'petType', 'petAge', 'petBreed', 'remarks', 'email']].drop_duplicates(subset=['email', 'petName'], keep='first')
    appointments_df = acuityAppts_df[['apptDate', 'startTime', 'endTime', 'duration', 'canceledAppt', 'email', 'serviceType', 'groomType', 'appointment_id']].drop_duplicates()
    sales_df = acuityAppts_df[['salesDate', 'salesAmount', 'amountPaid', 'appointment_id']].drop_duplicates()
    employees_staging_df = employees_df[['name', 'job_status', 'role', 'startDate', 'endDate', 'email', 'phone', 'address']].drop_duplicates()
    job_status_df = employees_df[['job_status']].drop_duplicates()
    employee_role_df = employees_df[['role']].drop_duplicates()
    
    return address_df, services_df, customers_df, pets_df, appointments_df, sales_df, employees_staging_df, job_status_df, employee_role_df

#Load
#Database Connection and Check if Table Exist before importing data into staging tables
def transfer_data_to_staging(engine, df, table_name):
    with engine.begin() as connection:
        df.to_sql(table_name, connection, if_exists='replace', index=False)
        print(f"Data transferred to staging table {table_name} successfully.")

#Transfer Data from Staging Tables to Actual SQL Database
def transfer_data_to_actual():
    connection_string = connect_str
    engine = create_engine(connection_string)
    try:
        with engine.begin() as connection:
            # Debug: print out addresses being inserted
            print("Addresses being inserted into the 'address' table:")
            address_debug_query = """
            SELECT DISTINCT address FROM staging_address
            WHERE NOT EXISTS (SELECT 1 FROM address WHERE address = staging_address.address);
            """
            address_debug_result = connection.execute(address_debug_query)
            for row in address_debug_result:
                print(row)

            transfer_queries = [
                """
                INSERT INTO address (address)
                SELECT DISTINCT address FROM staging_address
                WHERE NOT EXISTS (SELECT 1 FROM address WHERE address = staging_address.address);
                """,
                """
                INSERT INTO services (serviceType, groomType)
                SELECT DISTINCT serviceType, groomType FROM staging_services
                WHERE NOT EXISTS (SELECT 1 FROM services WHERE serviceType = staging_services.serviceType AND groomType = staging_services.groomType);
                """,
                """
                INSERT INTO job_status (job_status)
                SELECT DISTINCT job_status FROM staging_job_status
                WHERE NOT EXISTS (SELECT 1 FROM job_status WHERE job_status = staging_job_status.job_status);
                """,
                """
                INSERT INTO employee_role (role)
                SELECT DISTINCT role FROM staging_employee_role
                WHERE NOT EXISTS (SELECT 1 FROM employee_role WHERE role = staging_employee_role.role);
                """,
                """
                MERGE INTO customers AS target
                USING (
                    SELECT sc.firstName, sc.lastName, sc.email, sc.phone, a.address_id
                    FROM (
                        SELECT *, ROW_NUMBER() OVER(PARTITION BY email ORDER BY email) AS rn
                        FROM staging_customers
                    ) sc
                    JOIN address a ON sc.address = a.address
                    WHERE sc.rn = 1
                ) AS source
                ON (target.email = source.email)
                WHEN MATCHED THEN
                    UPDATE SET 
                        target.firstName = source.firstName,
                        target.lastName = source.lastName,
                        target.phone = source.phone,
                        target.address_id = source.address_id
                WHEN NOT MATCHED THEN
                    INSERT (firstName, lastName, email, phone, address_id)
                    VALUES (source.firstName, source.lastName, source.email, source.phone, source.address_id);
                """,
                """
                INSERT INTO pets (customer_id, petName, petType, petAge, petBreed, remarks)
                SELECT c.customer_id, sp.petName, sp.petType, sp.petAge, sp.petBreed, sp.remarks
                FROM (
                    SELECT email, petName, petType, petAge, petBreed, remarks,
                    ROW_NUMBER() OVER(PARTITION BY email, petName ORDER BY email, petName) AS rn
                    FROM staging_pets
                ) sp
                JOIN customers c ON sp.email = c.email
                WHERE sp.rn = 1
                AND NOT EXISTS (
                    SELECT 1 FROM pets p WHERE p.customer_id = c.customer_id AND p.petName = sp.petName
                );
                """,
                """
                SET IDENTITY_INSERT appointments ON;

                INSERT INTO appointments (customer_id, service_id, apptDate, startTime, endTime, duration, canceledAppt, appointment_id)
                SELECT c.customer_id, s.service_id, sa.apptDate, sa.startTime, sa.endTime, sa.duration, sa.canceledAppt, sa.appointment_id
                FROM staging_appointments sa
                JOIN customers c ON sa.email = c.email
                JOIN services s ON sa.serviceType = s.serviceType AND sa.groomType = s.groomType
                WHERE NOT EXISTS (SELECT 1 FROM appointments a WHERE a.appointment_id = sa.appointment_id);

                SET IDENTITY_INSERT appointments OFF;
                """,
                """
                INSERT INTO sales (salesDate, salesAmount, amountPaid, appointment_id)
                SELECT ss.salesDate, ss.salesAmount, ss.amountPaid, sa.appointment_id
                FROM staging_sales ss
                JOIN staging_appointments sa ON ss.appointment_id = sa.appointment_id
                WHERE NOT EXISTS (SELECT 1 FROM sales s WHERE s.appointment_id = sa.appointment_id);
                """,
                # Insert employee addresses before inserting employees
                """
                INSERT INTO address (address)
                SELECT DISTINCT se.address
                FROM staging_employees se
                LEFT JOIN address a ON se.address = a.address
                WHERE a.address_id IS NULL;
                """,
                """
                INSERT INTO employees (job_status_id, role_id, address_id, name, startDate, endDate, email, phone)
                SELECT js.job_status_id, er.role_id, a.address_id, se.name, se.startDate, se.endDate, se.email, se.phone
                FROM (
                    SELECT DISTINCT name, job_status, role, startDate, endDate, email, phone, address,
                    ROW_NUMBER() OVER(PARTITION BY email ORDER BY email) AS rn
                    FROM staging_employees
                ) se
                JOIN job_status js ON se.job_status = js.job_status
                JOIN employee_role er ON se.role = er.role
                JOIN address a ON se.address = a.address
                WHERE se.rn = 1
                AND NOT EXISTS (
                    SELECT 1 FROM employees e WHERE e.email = se.email
                );
                """
            ]

            for query in transfer_queries:
                print(f"Executing query:\n{query}\n")
                result = connection.execute(text(query))
                print(f"Rows affected: {result.rowcount}")

            debug_employee_insertion(connection)
            final_tables = ['address', 'services', 'job_status', 'employee_role', 'customers', 'pets', 'appointments', 'sales', 'employees']
            for table in final_tables:
                verify_transfer(connection, table)

            print("Data transferred to actual tables successfully.")
    except Exception as e:
        print(f"An error occurred: {e}")

#Debug for Employees' Data import due to error 
def debug_employee_insertion(connection):
    query = """
    SELECT se.name, se.job_status, se.role, se.startDate, se.endDate, se.email, se.phone, se.address, 
           js.job_status_id, er.role_id, a.address_id
    FROM staging_employees se
    LEFT JOIN job_status js ON se.job_status = js.job_status
    LEFT JOIN employee_role er ON se.role = er.role
    LEFT JOIN address a ON se.address = a.address;
    """
    result = connection.execute(query)
    employee_debug_df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print("Employee Debug Data:\n", employee_debug_df)

def verify_transfer(connection, table_name):
    query = f"SELECT COUNT(*) FROM {table_name}"
    result = connection.execute(query).fetchone()
    print(f"Number of records in {table_name}: {result[0]}")
    sample_query = f"SELECT TOP 10 * FROM {table_name}"
    sample_result = connection.execute(sample_query)
    sample_df = pd.DataFrame(sample_result.fetchall(), columns=sample_result.keys())
    print(f"Sample data from {table_name}:\n", sample_df)

#Main Execution
def main():
    acuityAppts_df = retrieve_acuity_data()
    employees_df = retrieve_employees_data(file_path, sheet_name)
    
    if acuityAppts_df is not None:
        acuityAppts_df = data_cleaning(acuityAppts_df)
        address_df, services_df, customers_df, pets_df, appointments_df, sales_df, employees_staging_df, job_status_df, employee_role_df = split_dataframes(acuityAppts_df, employees_df)
        
        #Transfer data to staging
        transfer_data_to_staging(engine, address_df, 'staging_address')
        transfer_data_to_staging(engine, services_df, 'staging_services')
        transfer_data_to_staging(engine, customers_df, 'staging_customers')
        transfer_data_to_staging(engine, pets_df, 'staging_pets')
        transfer_data_to_staging(engine, appointments_df, 'staging_appointments')
        transfer_data_to_staging(engine, sales_df, 'staging_sales')
        transfer_data_to_staging(engine, employees_staging_df, 'staging_employees')
        transfer_data_to_staging(engine, job_status_df, 'staging_job_status')
        transfer_data_to_staging(engine, employee_role_df, 'staging_employee_role')

        #Transfer data to actual SQL
        transfer_data_to_actual()
    else:
        print("No data retrieved from Acuity Scheduling.")

if __name__ == "__main__":
    main()

Employees data loaded from Excel:
        name job_status            role   startDate endDate  \
0  Dona Loh     Active    Head Stylist  2017-01-21     NaN
1     Hafiz     Active  Feline Stylist  2019-12-15     NaN

                 email     phone  \
0    nana123@gmail.com  12345678
1  hello88@hotmail.com  98765432

                                             address
0       21 jurong east st 88 #22-11 singapore 240281
1  88 Bukit Batok East Avenue 9 #09-31 singapore ...
Unique values in 'canceledAppt' column after conversion: [0]
Data types of the DataFrame columns:
 firstName         object
lastName          object
phone             object
email             object
apptDate          object
startTime         object
endTime           object
salesDate         object
salesAmount       object
amountPaid         int64
petType           object
duration          object
canceledAppt       int64
address           object
petName           object
petBreed          object
petAge            object
remarks           object
serviceType       object
groomType         object
appointment_id     int64
dtype: object
2024-06-20 09:16:50,825 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-06-20 09:16:50,827 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-20 09:16:50,837 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-06-20 09:16:50,838 INFO sqlalchemy.engine.Engine [generated in 0.00106s] ()
2024-06-20 09:16:50,867 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-06-20 09:16:50,869 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
2024-06-20 09:16:50,888 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:16:50,895 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:50,895 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ('BASE TABLE', 'staging_address', 'dbo')
2024-06-20 09:16:50,943 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:50,944 INFO sqlalchemy.engine.Engine [cached since 0.04974s ago] ('BASE TABLE', 'staging_address', 'dbo')
2024-06-20 09:16:50,961 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:16:50,962 INFO sqlalchemy.engine.Engine [generated in 0.00162s] ('dbo', 'BASE TABLE')
2024-06-20 09:16:51,016 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:16:51,017 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ('.', '.', 'staging_address', 'dbo')
2024-06-20 09:16:51,114 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:16:51,115 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ('staging_address', 'dbo')
2024-06-20 09:16:51,293 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:16:51,294 INFO sqlalchemy.engine.Engine [generated in 0.00136s] ('staging_address', 'dbo')
2024-06-20 09:16:52,160 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:16:52,162 INFO sqlalchemy.engine.Engine [generated in 0.00139s] ('staging_address', 'dbo')
2024-06-20 09:16:52,213 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:16:52,214 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ('staging_address', 'dbo')
2024-06-20 09:16:52,284 INFO sqlalchemy.engine.Engine
DROP TABLE staging_address
2024-06-20 09:16:52,286 INFO sqlalchemy.engine.Engine [no key 0.00162s] ()
2024-06-20 09:16:52,308 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_address (
	address VARCHAR(max) NULL
)


2024-06-20 09:16:52,309 INFO sqlalchemy.engine.Engine [no key 0.00142s] ()
2024-06-20 09:16:52,324 INFO sqlalchemy.engine.Engine INSERT INTO staging_address (address) VALUES (?)
2024-06-20 09:16:52,326 INFO sqlalchemy.engine.Engine [generated in 0.00217s] (('874 brooklyn town singapore 262173',), ('82 new york city singapore 829739',), ('88 brooklyn road #11-239 singapore 930183',), ('973 tanjong rhu #45-628 singapore 281028',), ('2 havey alley',), ('1044 amoth point',), ('961 everett drive',), ('83 veith place',)  ... displaying 10 of 27 total bound parameter sets ...  ('blk 297 bukit batok street 22 singapore 650297',), ('33, mandalay road singapore 303698',))
Data transferred to staging table staging_address successfully.
2024-06-20 09:16:52,575 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:16:52,588 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:16:52,592 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:52,593 INFO sqlalchemy.engine.Engine [cached since 1.699s ago] ('BASE TABLE', 'staging_services', 'dbo')
2024-06-20 09:16:52,623 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:52,624 INFO sqlalchemy.engine.Engine [cached since 1.73s ago] ('BASE TABLE', 'staging_services', 'dbo')
2024-06-20 09:16:52,642 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:16:52,643 INFO sqlalchemy.engine.Engine [cached since 1.682s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:16:52,662 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:16:52,663 INFO sqlalchemy.engine.Engine [cached since 1.647s ago] ('.', '.', 'staging_services', 'dbo')
2024-06-20 09:16:52,753 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:16:52,755 INFO sqlalchemy.engine.Engine [cached since 1.642s ago] ('staging_services', 'dbo')
2024-06-20 09:16:52,905 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:16:52,907 INFO sqlalchemy.engine.Engine [cached since 1.615s ago] ('staging_services', 'dbo')
2024-06-20 09:16:53,491 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:16:53,492 INFO sqlalchemy.engine.Engine [cached since 1.332s ago] ('staging_services', 'dbo')
2024-06-20 09:16:53,542 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:16:53,543 INFO sqlalchemy.engine.Engine [cached since 1.33s ago] ('staging_services', 'dbo')
2024-06-20 09:16:53,610 INFO sqlalchemy.engine.Engine
DROP TABLE staging_services
2024-06-20 09:16:53,611 INFO sqlalchemy.engine.Engine [no key 0.00102s] ()
2024-06-20 09:16:53,621 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_services (
	[serviceType] VARCHAR(max) NULL,
	[groomType] VARCHAR(max) NULL
)


2024-06-20 09:16:53,622 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2024-06-20 09:16:53,632 INFO sqlalchemy.engine.Engine INSERT INTO staging_services ([serviceType], [groomType]) VALUES (?, ?)
2024-06-20 09:16:53,633 INFO sqlalchemy.engine.Engine [generated in 0.00144s] (('basic grooming', 'large dog'), ('basic grooming', 'medium coat'), ('full grooming', 'large dog'), ('basic grooming', 'small dog'), ('full grooming', 'medium coat'), ('full grooming', 'medium dog'), ('full grooming', 'small dog'), ('basic grooming', 'medium dog')  ... displaying 10 of 14 total bound parameter sets ...  ('full grooming', 'long coat'), ('one off services', 'ears cleaning'))
Data transferred to staging table staging_services successfully.
2024-06-20 09:16:53,786 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:16:53,800 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:16:53,804 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:53,805 INFO sqlalchemy.engine.Engine [cached since 2.911s ago] ('BASE TABLE', 'staging_customers', 'dbo')
2024-06-20 09:16:53,830 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:53,831 INFO sqlalchemy.engine.Engine [cached since 2.936s ago] ('BASE TABLE', 'staging_customers', 'dbo')
2024-06-20 09:16:53,849 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:16:53,851 INFO sqlalchemy.engine.Engine [cached since 2.89s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:16:53,871 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:16:53,872 INFO sqlalchemy.engine.Engine [cached since 2.856s ago] ('.', '.', 'staging_customers', 'dbo')
2024-06-20 09:16:53,939 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:16:53,940 INFO sqlalchemy.engine.Engine [cached since 2.827s ago] ('staging_customers', 'dbo')
2024-06-20 09:16:54,093 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:16:54,094 INFO sqlalchemy.engine.Engine [cached since 2.802s ago] ('staging_customers', 'dbo')
2024-06-20 09:16:54,726 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:16:54,727 INFO sqlalchemy.engine.Engine [cached since 2.567s ago] ('staging_customers', 'dbo')
2024-06-20 09:16:54,780 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:16:54,780 INFO sqlalchemy.engine.Engine [cached since 2.568s ago] ('staging_customers', 'dbo')
2024-06-20 09:16:54,853 INFO sqlalchemy.engine.Engine
DROP TABLE staging_customers
2024-06-20 09:16:54,855 INFO sqlalchemy.engine.Engine [no key 0.00173s] ()
2024-06-20 09:16:54,866 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_customers (
	[firstName] VARCHAR(max) NULL,
	[lastName] VARCHAR(max) NULL,
	email VARCHAR(max) NULL,
	phone VARCHAR(max) NULL,
	address VARCHAR(max) NULL
)


2024-06-20 09:16:54,867 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2024-06-20 09:16:54,878 INFO sqlalchemy.engine.Engine INSERT INTO staging_customers ([firstName], [lastName], email, phone, address) VALUES (?, ?, ?, ?, ?)
2024-06-20 09:16:54,879 INFO sqlalchemy.engine.Engine [generated in 0.00123s] (('donna', 'pearson', 'heyitsdonnalala@hotmail.com', '64539371', '874 brooklyn town singapore 262173'), ('hayley', 'grey', 'g.ginachee@gmail.com', '94038210', '82 new york city singapore 829739'), ('gina', 'chee', 'ginacheeppp@gmail.com', '84839291', '88 brooklyn road #11-239 singapore 930183'), ('jason', 'cooper', 'jasoncoop@yahoo.com', '847402283', '973 tanjong rhu #45-628 singapore 281028'), ('celie', 'watsham', 'cwatshamk@engadget.com', '06676143', '2 havey alley'), ('sayre', 'lafuente', 'slafuented@theguardian.com', '24243979', '1044 amoth point'), ('rowan', 'andree', 'randree1o@themeforest.net', '88298166', '961 everett drive'), ('shannah', 'jillard', 'sjillard1a@addtoany.com', '79811363', '83 veith place')  ... displaying 10 of 27 total bound parameter sets ...  ('gianni', 'roglieri', 'groglieri0@blogtalkradio.com', '52013693', 'blk 297 bukit batok street 22 singapore 650297'), ('erica', 'bassingham', 'ebassingham4@cam.ac.uk', '45852369', '33, mandalay road singapore 303698'))
Data transferred to staging table staging_customers successfully.
2024-06-20 09:16:55,133 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:16:55,144 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:16:55,149 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:55,151 INFO sqlalchemy.engine.Engine [cached since 4.256s ago] ('BASE TABLE', 'staging_pets', 'dbo')
2024-06-20 09:16:55,176 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:55,177 INFO sqlalchemy.engine.Engine [cached since 4.283s ago] ('BASE TABLE', 'staging_pets', 'dbo')
2024-06-20 09:16:55,197 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:16:55,198 INFO sqlalchemy.engine.Engine [cached since 4.237s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:16:55,219 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:16:55,220 INFO sqlalchemy.engine.Engine [cached since 4.204s ago] ('.', '.', 'staging_pets', 'dbo')
2024-06-20 09:16:55,295 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:16:55,296 INFO sqlalchemy.engine.Engine [cached since 4.182s ago] ('staging_pets', 'dbo')
2024-06-20 09:16:55,520 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:16:55,521 INFO sqlalchemy.engine.Engine [cached since 4.229s ago] ('staging_pets', 'dbo')
2024-06-20 09:16:56,238 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:16:56,240 INFO sqlalchemy.engine.Engine [cached since 4.079s ago] ('staging_pets', 'dbo')
2024-06-20 09:16:56,307 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:16:56,309 INFO sqlalchemy.engine.Engine [cached since 4.096s ago] ('staging_pets', 'dbo')
2024-06-20 09:16:56,401 INFO sqlalchemy.engine.Engine
DROP TABLE staging_pets
2024-06-20 09:16:56,402 INFO sqlalchemy.engine.Engine [no key 0.00148s] ()
2024-06-20 09:16:56,415 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_pets (
	[petName] VARCHAR(max) NULL,
	[petType] VARCHAR(max) NULL,
	[petAge] VARCHAR(max) NULL,
	[petBreed] VARCHAR(max) NULL,
	remarks VARCHAR(max) NULL,
	email VARCHAR(max) NULL
)


2024-06-20 09:16:56,416 INFO sqlalchemy.engine.Engine [no key 0.00188s] ()
2024-06-20 09:16:56,427 INFO sqlalchemy.engine.Engine INSERT INTO staging_pets ([petName], [petType], [petAge], [petBreed], remarks, email) VALUES (?, ?, ?, ?, ?, ?)
2024-06-20 09:16:56,428 INFO sqlalchemy.engine.Engine [generated in 0.00125s] (('stu', 'dog', '9', 'chihuahua', '', 'heyitsdonnalala@hotmail.com'), ('ciaos', 'cat', '4', 'persian', '', 'g.ginachee@gmail.com'), ('nottipatootie', 'dog', '6', 'cockapoo', '', 'ginacheeppp@gmail.com'), ('patootie', 'dog', '5', 'chihuahua', '', 'jasoncoop@yahoo.com'), ('charlie', 'cat', '2', 'maine coon', '', 'cwatshamk@engadget.com'), ('rocky', 'cat', '5', 'persian', '', 'slafuented@theguardian.com'), ('buddy', 'dog', '3', 'golden retriever', '', 'randree1o@themeforest.net'), ('buddy', 'dog', '15', 'labrador retriever', 'old-age', 'sjillard1a@addtoany.com')  ... displaying 10 of 27 total bound parameter sets ...  ('lilo', 'dog', '5', 'cockapoo', '', 'groglieri0@blogtalkradio.com'), ('jojo', 'dog', '6', 'cockapoo', '', 'ebassingham4@cam.ac.uk'))
Data transferred to staging table staging_pets successfully.
2024-06-20 09:16:56,691 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:16:56,703 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:16:56,708 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:56,712 INFO sqlalchemy.engine.Engine [cached since 5.818s ago] ('BASE TABLE', 'staging_appointments', 'dbo')
2024-06-20 09:16:56,740 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:56,742 INFO sqlalchemy.engine.Engine [cached since 5.847s ago] ('BASE TABLE', 'staging_appointments', 'dbo')
2024-06-20 09:16:56,759 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:16:56,760 INFO sqlalchemy.engine.Engine [cached since 5.799s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:16:56,779 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:16:56,780 INFO sqlalchemy.engine.Engine [cached since 5.764s ago] ('.', '.', 'staging_appointments', 'dbo')
2024-06-20 09:16:56,847 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:16:56,848 INFO sqlalchemy.engine.Engine [cached since 5.735s ago] ('staging_appointments', 'dbo')
2024-06-20 09:16:56,995 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:16:56,996 INFO sqlalchemy.engine.Engine [cached since 5.704s ago] ('staging_appointments', 'dbo')
2024-06-20 09:16:57,555 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:16:57,556 INFO sqlalchemy.engine.Engine [cached since 5.396s ago] ('staging_appointments', 'dbo')
2024-06-20 09:16:57,612 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:16:57,613 INFO sqlalchemy.engine.Engine [cached since 5.4s ago] ('staging_appointments', 'dbo')
2024-06-20 09:16:57,709 INFO sqlalchemy.engine.Engine
DROP TABLE staging_appointments
2024-06-20 09:16:57,710 INFO sqlalchemy.engine.Engine [no key 0.00154s] ()
2024-06-20 09:16:57,722 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_appointments (
	[apptDate] VARCHAR(max) NULL,
	[startTime] VARCHAR(max) NULL,
	[endTime] VARCHAR(max) NULL,
	duration VARCHAR(max) NULL,
	[canceledAppt] BIGINT NULL,
	email VARCHAR(max) NULL,
	[serviceType] VARCHAR(max) NULL,
	[groomType] VARCHAR(max) NULL,
	appointment_id BIGINT NULL
)


2024-06-20 09:16:57,723 INFO sqlalchemy.engine.Engine [no key 0.00109s] ()
2024-06-20 09:16:57,736 INFO sqlalchemy.engine.Engine INSERT INTO staging_appointments ([apptDate], [startTime], [endTime], duration, [canceledAppt], email, [serviceType], [groomType], appointment_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-20 09:16:57,737 INFO sqlalchemy.engine.Engine [generated in 0.00100s] (('2024-08-20', '13:30:00', '15:00:00', '90', 0, 'heyitsdonnalala@hotmail.com', 'basic grooming', 'large dog', 1), ('2024-08-20', '09:45:00', '10:45:00', '60', 0, 'g.ginachee@gmail.com', 'basic grooming', 'medium coat', 2), ('2024-08-16', '11:15:00', '14:15:00', '180', 0, 'ginacheeppp@gmail.com', 'full grooming', 'large dog', 3), ('2024-08-15', '10:30:00', '11:15:00', '45', 0, 'jasoncoop@yahoo.com', 'basic grooming', 'small dog', 4), ('2024-08-01', '09:00:00', '11:15:00', '135', 0, 'cwatshamk@engadget.com', 'full grooming', 'medium coat', 5), ('2024-07-28', '10:45:00', '13:00:00', '135', 0, 'slafuented@theguardian.com', 'full grooming', 'medium coat', 6), ('2024-07-26', '13:30:00', '15:45:00', '135', 0, 'randree1o@themeforest.net', 'full grooming', 'medium dog', 7), ('2024-07-26', '11:30:00', '13:00:00', '90', 0, 'sjillard1a@addtoany.com', 'basic grooming', 'large dog', 8)  ... displaying 10 of 27 total bound parameter sets ...  ('2024-06-01', '11:30:00', '13:45:00', '135', 0, 'groglieri0@blogtalkradio.com', 'full grooming', 'medium dog', 26), ('2024-06-01', '10:45:00', '11:30:00', '45', 0, 'ebassingham4@cam.ac.uk', 'one off services', 'ears cleaning', 27))
Data transferred to staging table staging_appointments successfully.
2024-06-20 09:16:58,377 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:16:58,523 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:16:58,529 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:58,530 INFO sqlalchemy.engine.Engine [cached since 7.635s ago] ('BASE TABLE', 'staging_sales', 'dbo')
2024-06-20 09:16:58,629 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:16:58,630 INFO sqlalchemy.engine.Engine [cached since 7.736s ago] ('BASE TABLE', 'staging_sales', 'dbo')
2024-06-20 09:16:58,647 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:16:58,648 INFO sqlalchemy.engine.Engine [cached since 7.687s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:16:58,800 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:16:58,802 INFO sqlalchemy.engine.Engine [cached since 7.786s ago] ('.', '.', 'staging_sales', 'dbo')
2024-06-20 09:16:58,988 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:16:58,990 INFO sqlalchemy.engine.Engine [cached since 7.877s ago] ('staging_sales', 'dbo')
2024-06-20 09:16:59,229 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:16:59,231 INFO sqlalchemy.engine.Engine [cached since 7.938s ago] ('staging_sales', 'dbo')
2024-06-20 09:16:59,951 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:16:59,953 INFO sqlalchemy.engine.Engine [cached since 7.793s ago] ('staging_sales', 'dbo')
2024-06-20 09:17:00,131 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:17:00,132 INFO sqlalchemy.engine.Engine [cached since 7.92s ago] ('staging_sales', 'dbo')
2024-06-20 09:17:00,311 INFO sqlalchemy.engine.Engine
DROP TABLE staging_sales
2024-06-20 09:17:00,312 INFO sqlalchemy.engine.Engine [no key 0.00118s] ()
2024-06-20 09:17:00,455 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_sales (
	[salesDate] VARCHAR(max) NULL,
	[salesAmount] VARCHAR(max) NULL,
	[amountPaid] BIGINT NULL,
	appointment_id BIGINT NULL
)


2024-06-20 09:17:00,456 INFO sqlalchemy.engine.Engine [no key 0.00170s] ()
2024-06-20 09:17:00,469 INFO sqlalchemy.engine.Engine INSERT INTO staging_sales ([salesDate], [salesAmount], [amountPaid], appointment_id) VALUES (?, ?, ?, ?)
2024-06-20 09:17:00,470 INFO sqlalchemy.engine.Engine [generated in 0.00149s] (('2024-06-18', '100.00', 1, 1), ('2024-06-17', '90.00', 1, 2), ('2024-06-17', '170.00', 1, 3), ('2024-06-18', '55.00', 1, 4), ('2024-06-08', '140.00', 1, 5), ('2024-06-08', '140.00', 1, 6), ('2024-06-08', '190.00', 1, 7), ('2024-06-08', '180.00', 1, 8)  ... displaying 10 of 27 total bound parameter sets ...  ('2024-05-31', '120.00', 1, 26), ('2024-05-31', '10.00', 1, 27))
Data transferred to staging table staging_sales successfully.
2024-06-20 09:17:01,397 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:17:01,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:17:01,411 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:17:01,411 INFO sqlalchemy.engine.Engine [cached since 10.52s ago] ('BASE TABLE', 'staging_employees', 'dbo')
2024-06-20 09:17:01,493 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:17:01,494 INFO sqlalchemy.engine.Engine [cached since 10.6s ago] ('BASE TABLE', 'staging_employees', 'dbo')
2024-06-20 09:17:01,511 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:17:01,512 INFO sqlalchemy.engine.Engine [cached since 10.55s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:17:01,668 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:17:01,669 INFO sqlalchemy.engine.Engine [cached since 10.65s ago] ('.', '.', 'staging_employees', 'dbo')
2024-06-20 09:17:01,688 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:17:01,688 INFO sqlalchemy.engine.Engine [cached since 10.58s ago] ('staging_employees', 'dbo')
2024-06-20 09:17:01,850 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:17:01,851 INFO sqlalchemy.engine.Engine [cached since 10.56s ago] ('staging_employees', 'dbo')
2024-06-20 09:17:02,410 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:17:02,411 INFO sqlalchemy.engine.Engine [cached since 10.25s ago] ('staging_employees', 'dbo')
2024-06-20 09:17:02,433 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:17:02,434 INFO sqlalchemy.engine.Engine [cached since 10.22s ago] ('staging_employees', 'dbo')
2024-06-20 09:17:02,583 INFO sqlalchemy.engine.Engine
DROP TABLE staging_employees
2024-06-20 09:17:02,584 INFO sqlalchemy.engine.Engine [no key 0.00168s] ()
2024-06-20 09:17:02,598 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_employees (
	name VARCHAR(max) NULL,
	job_status VARCHAR(max) NULL,
	role VARCHAR(max) NULL,
	[startDate] VARCHAR(max) NULL,
	[endDate] VARCHAR(max) NULL,
	email VARCHAR(max) NULL,
	phone BIGINT NULL,
	address VARCHAR(max) NULL
)


2024-06-20 09:17:02,599 INFO sqlalchemy.engine.Engine [no key 0.00121s] ()
2024-06-20 09:17:02,621 INFO sqlalchemy.engine.Engine INSERT INTO staging_employees (name, job_status, role, [startDate], [endDate], email, phone, address) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2024-06-20 09:17:02,622 INFO sqlalchemy.engine.Engine [generated in 0.00148s] (('Dona Loh', 'Active', 'Head Stylist', '2017-01-21', None, 'nana123@gmail.com', 12345678, '21 jurong east st 88 #22-11 singapore 240281'), ('Hafiz', 'Active', 'Feline Stylist', '2019-12-15', None, 'hello88@hotmail.com', 98765432, '88 Bukit Batok East Avenue 9 #09-31 singapore 829197'))
Data transferred to staging table staging_employees successfully.
2024-06-20 09:17:02,972 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:17:03,118 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:17:03,123 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:17:03,124 INFO sqlalchemy.engine.Engine [cached since 12.23s ago] ('BASE TABLE', 'staging_job_status', 'dbo')
2024-06-20 09:17:03,150 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:17:03,151 INFO sqlalchemy.engine.Engine [cached since 12.26s ago] ('BASE TABLE', 'staging_job_status', 'dbo')
2024-06-20 09:17:03,305 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:17:03,305 INFO sqlalchemy.engine.Engine [cached since 12.34s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:17:03,324 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:17:03,325 INFO sqlalchemy.engine.Engine [cached since 12.31s ago] ('.', '.', 'staging_job_status', 'dbo')
2024-06-20 09:17:03,430 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:17:03,430 INFO sqlalchemy.engine.Engine [cached since 12.32s ago] ('staging_job_status', 'dbo')
2024-06-20 09:17:03,626 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:17:03,627 INFO sqlalchemy.engine.Engine [cached since 12.34s ago] ('staging_job_status', 'dbo')
2024-06-20 09:17:04,414 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:17:04,415 INFO sqlalchemy.engine.Engine [cached since 12.25s ago] ('staging_job_status', 'dbo')
2024-06-20 09:17:04,476 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:17:04,477 INFO sqlalchemy.engine.Engine [cached since 12.26s ago] ('staging_job_status', 'dbo')
2024-06-20 09:17:04,560 INFO sqlalchemy.engine.Engine
DROP TABLE staging_job_status
2024-06-20 09:17:04,561 INFO sqlalchemy.engine.Engine [no key 0.00134s] ()
2024-06-20 09:17:04,572 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_job_status (
	job_status VARCHAR(max) NULL
)


2024-06-20 09:17:04,573 INFO sqlalchemy.engine.Engine [no key 0.00127s] ()
2024-06-20 09:17:04,582 INFO sqlalchemy.engine.Engine INSERT INTO staging_job_status (job_status) VALUES (?)
2024-06-20 09:17:04,583 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ('Active',)
Data transferred to staging table staging_job_status successfully.
2024-06-20 09:17:04,601 INFO sqlalchemy.engine.Engine COMMIT
2024-06-20 09:17:04,612 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-20 09:17:04,615 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:17:04,616 INFO sqlalchemy.engine.Engine [cached since 13.72s ago] ('BASE TABLE', 'staging_employee_role', 'dbo')
2024-06-20 09:17:04,642 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-06-20 09:17:04,643 INFO sqlalchemy.engine.Engine [cached since 13.75s ago] ('BASE TABLE', 'staging_employee_role', 'dbo')
2024-06-20 09:17:04,662 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-06-20 09:17:04,664 INFO sqlalchemy.engine.Engine [cached since 13.7s ago] ('dbo', 'BASE TABLE')
2024-06-20 09:17:04,682 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-06-20 09:17:04,683 INFO sqlalchemy.engine.Engine [cached since 13.67s ago] ('.', '.', 'staging_employee_role', 'dbo')
2024-06-20 09:17:04,750 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-06-20 09:17:04,751 INFO sqlalchemy.engine.Engine [cached since 13.64s ago] ('staging_employee_role', 'dbo')
2024-06-20 09:17:04,903 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-06-20 09:17:04,904 INFO sqlalchemy.engine.Engine [cached since 13.61s ago] ('staging_employee_role', 'dbo')
2024-06-20 09:17:05,600 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-06-20 09:17:05,601 INFO sqlalchemy.engine.Engine [cached since 13.44s ago] ('staging_employee_role', 'dbo')
2024-06-20 09:17:05,652 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-06-20 09:17:05,653 INFO sqlalchemy.engine.Engine [cached since 13.44s ago] ('staging_employee_role', 'dbo')
2024-06-20 09:17:05,738 INFO sqlalchemy.engine.Engine
DROP TABLE staging_employee_role
2024-06-20 09:17:05,739 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2024-06-20 09:17:05,749 INFO sqlalchemy.engine.Engine
CREATE TABLE staging_employee_role (
	role VARCHAR(max) NULL
)


2024-06-20 09:17:05,750 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2024-06-20 09:17:05,758 INFO sqlalchemy.engine.Engine INSERT INTO staging_employee_role (role) VALUES (?)
2024-06-20 09:17:05,759 INFO sqlalchemy.engine.Engine [generated in 0.00100s] (('Head Stylist',), ('Feline Stylist',))
Data transferred to staging table staging_employee_role successfully.
2024-06-20 09:17:05,786 INFO sqlalchemy.engine.Engine COMMIT
Addresses being inserted into the 'address' table:
Executing query:

                INSERT INTO address (address)
                SELECT DISTINCT address FROM staging_address
                WHERE NOT EXISTS (SELECT 1 FROM address WHERE address = staging_address.address);


Rows affected: 0
Executing query:

                INSERT INTO services (serviceType, groomType)
                SELECT DISTINCT serviceType, groomType FROM staging_services
                WHERE NOT EXISTS (SELECT 1 FROM services WHERE serviceType = staging_services.serviceType AND groomType = staging_services.groomType);


Rows affected: 0
Executing query:

                INSERT INTO job_status (job_status)
                SELECT DISTINCT job_status FROM staging_job_status
                WHERE NOT EXISTS (SELECT 1 FROM job_status WHERE job_status = staging_job_status.job_status);


Rows affected: 0
Executing query:

                INSERT INTO employee_role (role)
                SELECT DISTINCT role FROM staging_employee_role
                WHERE NOT EXISTS (SELECT 1 FROM employee_role WHERE role = staging_employee_role.role);


Rows affected: 0
Executing query:

                MERGE INTO customers AS target
                USING (
                    SELECT sc.firstName, sc.lastName, sc.email, sc.phone, a.address_id
                    FROM (
                        SELECT *, ROW_NUMBER() OVER(PARTITION BY email ORDER BY email) AS rn
                        FROM staging_customers
                    ) sc
                    JOIN address a ON sc.address = a.address
                    WHERE sc.rn = 1
                ) AS source
                ON (target.email = source.email)
                WHEN MATCHED THEN
                    UPDATE SET
                        target.firstName = source.firstName,
                        target.lastName = source.lastName,
                        target.phone = source.phone,
                        target.address_id = source.address_id
                WHEN NOT MATCHED THEN
                    INSERT (firstName, lastName, email, phone, address_id)
                    VALUES (source.firstName, source.lastName, source.email, source.phone, source.address_id);


Rows affected: 26
Executing query:

                INSERT INTO pets (customer_id, petName, petType, petAge, petBreed, remarks)
                SELECT c.customer_id, sp.petName, sp.petType, sp.petAge, sp.petBreed, sp.remarks
                FROM (
                    SELECT email, petName, petType, petAge, petBreed, remarks,
                    ROW_NUMBER() OVER(PARTITION BY email, petName ORDER BY email, petName) AS rn
                    FROM staging_pets
                ) sp
                JOIN customers c ON sp.email = c.email
                WHERE sp.rn = 1
                AND NOT EXISTS (
                    SELECT 1 FROM pets p WHERE p.customer_id = c.customer_id AND p.petName = sp.petName
                );


Rows affected: 0
Executing query:

                SET IDENTITY_INSERT appointments ON;

                INSERT INTO appointments (customer_id, service_id, apptDate, startTime, endTime, duration, canceledAppt, appointment_id)
                SELECT c.customer_id, s.service_id, sa.apptDate, sa.startTime, sa.endTime, sa.duration, sa.canceledAppt, sa.appointment_id
                FROM staging_appointments sa
                JOIN customers c ON sa.email = c.email
                JOIN services s ON sa.serviceType = s.serviceType AND sa.groomType = s.groomType
                WHERE NOT EXISTS (SELECT 1 FROM appointments a WHERE a.appointment_id = sa.appointment_id);

                SET IDENTITY_INSERT appointments OFF;


Rows affected: 0
Executing query:

                INSERT INTO sales (salesDate, salesAmount, amountPaid, appointment_id)
                SELECT ss.salesDate, ss.salesAmount, ss.amountPaid, sa.appointment_id
                FROM staging_sales ss
                JOIN staging_appointments sa ON ss.appointment_id = sa.appointment_id
                WHERE NOT EXISTS (SELECT 1 FROM sales s WHERE s.appointment_id = sa.appointment_id);


Rows affected: 0
Executing query:

                INSERT INTO address (address)
                SELECT DISTINCT se.address
                FROM staging_employees se
                LEFT JOIN address a ON se.address = a.address
                WHERE a.address_id IS NULL;


Rows affected: 0
Executing query:

                INSERT INTO employees (job_status_id, role_id, address_id, name, startDate, endDate, email, phone)
                SELECT js.job_status_id, er.role_id, a.address_id, se.name, se.startDate, se.endDate, se.email, se.phone
                FROM (
                    SELECT DISTINCT name, job_status, role, startDate, endDate, email, phone, address,
                    ROW_NUMBER() OVER(PARTITION BY email ORDER BY email) AS rn
                    FROM staging_employees
                ) se
                JOIN job_status js ON se.job_status = js.job_status
                JOIN employee_role er ON se.role = er.role
                JOIN address a ON se.address = a.address
                WHERE se.rn = 1
                AND NOT EXISTS (
                    SELECT 1 FROM employees e WHERE e.email = se.email
                );


Rows affected: 0
Employee Debug Data:
        name job_status            role   startDate endDate  \
0  Dona Loh     Active    Head Stylist  2017-01-21    None
1     Hafiz     Active  Feline Stylist  2019-12-15    None

                 email     phone  \
0    nana123@gmail.com  12345678
1  hello88@hotmail.com  98765432

                                             address  job_status_id  role_id  \
0       21 jurong east st 88 #22-11 singapore 240281              3        6
1  88 Bukit Batok East Avenue 9 #09-31 singapore ...              3        5

   address_id
0         135
1         136
Number of records in address: 29
Sample data from address:
    address_id                                          address
0         113                                  0 banding drive
1         114                                 1044 amoth point
2         115      123 western george unit 89 singapore 842301
3         116                                    2 havey alley
4         117  240, bukit batok east avenue 5 singapore 650240
5         118                                26768 drewry park
6         119              27, tuas avenue 13 singapore 639441
7         120               33, mandalay road singapore 303698
8         121                                      5 erie park
9         122               50, tuas avenue 1 singapore 638486
Number of records in services: 14
Sample data from services:
    service_id     serviceType    groomType
0          71  basic grooming    large dog
1          72  basic grooming  medium coat
2          73  basic grooming   medium dog
3          74  basic grooming   small coat
4          75  basic grooming    small dog
5          76   full grooming    large dog
6          77   full grooming    long coat
7          78   full grooming  medium coat
8          79   full grooming   medium dog
9          80   full grooming   shave down
Number of records in job_status: 1
Sample data from job_status:
    job_status_id job_status
0              3     Active
Number of records in employee_role: 2

Sample data from employee_role:
    role_id            role
0        5  Feline Stylist
1        6    Head Stylist
Number of records in customers: 26
Sample data from customers:
    customer_id firstName     lastName                         email     phone  \
0          391  ambrosio       sipson             asipson12@ask.com  93151001
1          392      bord      benning             bbenning6@mlb.com  52634921
2          393     brady      gamblin            bgamblin8@lulu.com  74585201
3          394    carmon       alcock            calcock1v@gmpg.org  23895036
4          395   cecilia    dalgliesh     cdalgliesh2@wordpress.com  74150321
5          396     celie      watsham        cwatshamk@engadget.com  06676143
6          397     erica   bassingham        ebassingham4@cam.ac.uk  45852369
7          398     ernst      layzell         elayzell2q@dion.ne.jp  76948003
8          399    gianni     roglieri  groglieri0@blogtalkradio.com  52013693
9          400  merridie  andreopolos     mandreopolos2k@oakley.com  60396732

   address_id
0         118
1         128
2         117
3         126
4         124
5         116
6         130
7         125
8         132
9         115
Number of records in pets: 27
Sample data from pets:
    pet_id  customer_id  petName petType  petAge    petBreed  \
0     617          391    daisy     dog      11      poodle
1     618          392   bailey     dog      13      huskey
2     619          393     bear     dog      11   chow chow
3     620          394      max     cat       1      sphynx
4     621          395     bebe     dog       2    maltipoo
5     622          396  charlie     cat       2  maine coon
6     623          397     jojo     dog       6    cockapoo
7     624          397   toffee     cat       4     bulldog
8     625          398     luna     dog       6      pomsky
9     626          399     lilo     dog       5    cockapoo

              remarks
0
1
2
3
4  has sensitive skin
5
6
7
8
9
Number of records in appointments: 27
Sample data from appointments:
    appointment_id  customer_id  service_id    apptDate startTime   endTime  \
0               1          396          78  2024-08-01  09:00:00  11:15:00
1               2          407          78  2024-07-28  10:45:00  13:00:00
2               3          402          79  2024-07-26  13:30:00  15:45:00
3               4          406          71  2024-07-26  11:30:00  13:00:00
4               5          398          82  2024-07-16  10:00:00  11:30:00
5               6          410          71  2024-07-15  10:00:00  11:30:00
6               7          404          78  2024-07-10  09:45:00  12:00:00
7               8          397          78  2024-06-26  11:45:00  14:00:00
8               9          401          72  2024-06-26  10:00:00  11:00:00
9              10          391          73  2024-06-25  10:15:00  11:15:00

   duration  canceledAppt
0       135         False
1       135         False
2       135         False
3        90         False
4        90         False
5        90         False
6       135         False
7       135         False
8        60         False
9        60         False
Number of records in sales: 27
Sample data from sales:
    sales_id  appointment_id   salesDate salesAmount  amountPaid
0        23               1  2024-06-08      140.00        True
1        24               2  2024-06-08      140.00        True
2        25               3  2024-06-08      190.00        True
3        26               4  2024-06-08      180.00        True
4        27               5  2024-06-08      100.00        True
5        28               6  2024-06-08      100.00        True
6        29               7  2024-06-08      140.00        True
7        30               8  2024-06-08      140.00        True
8        31               9  2024-05-31       90.00        True
9        32              10  2024-06-08       70.00        True
Number of records in employees: 2
Sample data from employees:
    employee_id  job_status_id  role_id  address_id      name   startDate  \
0            3              3        6         135  Dona Loh  2017-01-21
1            4              3        5         136     Hafiz  2019-12-15

  endDate                email     phone
0    None    nana123@gmail.com  12345678
1    None  hello88@hotmail.com  98765432
Data transferred to actual tables successfully.